
/*top banner for forum page*/
.contact-page.forum-page{
 .contact-banner{
        background-image:url("/storage/site-images/contact-bg.jpg");
 }
}

/*top banner for social network page*/
.contact-page.social-network-forum{
 .contact-banner{
        background-image:url("/storage/site-images/contact-bg.jpg");
 }
}

/*top banner for support network page*/
.contact-page.network-portal-forum{
 .contact-banner{
        background-image:url("/storage/site-images/contact-bg.jpg");
 }
}
