/*admin-dasboard*/
#dashboard {
   .rent-home-icon {
      font-size: smaller;
   }
   .arrow-circle-r-icon {
      padding-left: 4px;
   }
}
/*end*/

/*blog-index*/
#blog-index {
   img {
      max-width: 200px;
   }
}
/*end*/

/*common-all-index-pages*/
#del-success-msg {
   display: none;
} 
@media screen and (max-width: 767px){
   .table-responsive {
      border: 0;     
      .dataTables_filter {
         .btn-search {  
            margin-top: -2px;    
         }  
      }  
   }
}
@media screen and (max-width: 419px){
   .dataTables_length {
      float: left;  
      margin-top: 47px;
   }
   .dataTables_filter {
      width: 50%;
      margin-left: -159px;
      margin-bottom: 0;  
   }

}

/*end*/

/*common-all-create-pages*/
#edit-add-pages {    
   label {
      font-size: 16px;    
      font-weight: 100;
   }
   .title-input,textarea {      
      border-radius: 4px!important;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      border: 1px solid #ccc;
   }
   textarea {
      height: 60px!important; 
   }
   .image-div {
      img {
         max-width: 200px;
      }
   }
}
.create-edit-cancel-btn {
   padding: 15px 15px;  
   .edit-create-btn,.cancel-btn {
      padding: 6px 16px;  
      font-size: 15px;  
      background-color: #347ab7;
      border-color: #347ab7; 
   }
   .edit-create-btn {
      float: right;
   }
   .edit-create-btn:hover {  
      background-color: #2b6ba2;
   }
   .cancel-btn {
      background-color: #d95350;
      border-color:#e44b48;   
   }       
   .cancel-btn:hover {    
      background-color:#d84340;
   }
}
/*end*/

/*sweetalert-forum-blog*/
.sweet-alert {
   p {  
      font-weight: 400;
      font-family: Source Sans Pro,sans-serif;
   }
   button{
      border-radius: 3px;  
      box-shadow: none;
      border: 1px solid transparent;
      padding: 6px 16px;  
      font-size: 12px;  
      line-height: 1.5;
      display: inline-block;
      margin-bottom: 0;
      font-weight: 400;  
      text-align: center;   
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;  
      background-image: none;
      white-space: nowrap;
      user-select: none;   
   }
   button.cancel {
      background-color: #dd4b39!important;  
      border-color: #d73925;
   }
   button.confirm {
      background-color: #00a65a!important;
      border-color: #008d4c; 
   }
}

/*end*/


/*datatable*/
.dataTables_filter {
   .btn-search {  
      font-size:15px;  
      height: 30px;
      padding: 0px 10px;
   }
}  
/*end*/

/*admin-dasboard*/
#dashboard {
   .all-panels-row {
      padding-top: 15px;
      .panel {
         border: 1px solid #ABAEB2 !important;
         color: #fff;
         .huge {
            font-size: 40px;
         }
         a {
            font-size: 14px;
         }
         a:hover {
            text-decoration: underline;
            outline: 0;
         }
      }
      .panel-primary {
         a {
            color: #337ab7;
         }
         a:hover {
            color: #23527c;
         }
      }
      .panel-green {
         border-color: #5cb85c;
         background-color: #5cb85c;
         a {
            color: #5cb85c;
         }
         a:hover {
            color: #3d8b3d;
         }
      }
      .panel-yellow {
         border-color: #f0ad4e;
         background-color: #f0ad4e;
         a {
            color: #f0ad4e;
         }
         a:hover {
            color: #df8a13;
         }
      }
      .panel-red {
         border-color: #d9534f;
         background-color: #d9534f;
         a {
            color: #d9534f;
         }
         a:hover {
            color: #b52b27;
         }
      }
      .panel-purple {
         border-color: #824180;
         background-color: #824180;
         a {
            color: #824180;  
         }
         a:hover {
            color: #580258;
         }
      }
      .panel-darkturquoise {
         border-color: darkturquoise;
         background-color: darkturquoise;
         a {
            color:darkturquoise;
         }
         a:hover {
            color: #03989a;
         }
      }
   }
}
/*end*/


