@import "contact.scss";
@import "forum.scss";
.blog-bg{
    background: #f6f6f6 ! important;  
}
/*--------------------------blog-single-page-css--------------------------*/
.blog-single-page{
    .contact-banner {
        margin-bottom: 60px;
    }
    .panel-box {
        margin-top: 20px;
        display: inline-block;
        width: 100%;
        padding: 20px;
        border-color: #f6f6f6;
        background: #fff;
        border-radius: 20px;
    }
    .pagination {
        margin: 60px 0;
        disply:inline-block;
    }
    .blog-text {
        padding: 20px 0px 10px;
        li, p{
            list-style-type: none;
            color: #727272;
            font-size: 14px;
            line-height: 32px;
        }
        p {
            text-align: justify;
        }
        .blue-text{
            color: #25bbe2;
        }
        .chat-text{
            text-align: center;
            margin: 80px 0px 30px;
            font-weight: bold;
            font-size: 27px;
        }
        .blog-button-div{
            .member-button, .click-button {
                margin: 40px auto;
                text-align: center;
                border-radius: 0px;
                background: #000;
                display: block;
                font-size: 29px;
                font-weight: 700;
                padding: 50px 20px;
                width: 100%;
                color: #fff;
                border: 8px solid #626060;
                margin-bottom:60px;
                .text{
                    font-size: 23px;
                    display: inline-block;
                    width: 100%;
                }
            }
            .member-button {
                margin: 50px auto;
                background: #fff;
                border: 8px solid #f0f0f0;
                color:#000;
            }

        }
         img {
            max-width: 100%;
            height: auto !important;
            width: auto !important;
        }
    }
    
    .blog-pic {
        img {
            max-height: 550px;
        }
    }

    .blog-pic-1{
        img {
            width: 100%; 
            object-fit: cover;
        }
    }
    .time-div{
        display: inline-block;
        widows: 100%;
    }
} 
/*--------------------------Responsive-css--------------------------*/
@media screen and (max-width: 992px){
    .blog-single-page{
        .contact-banner {
            margin-bottom: 30px;
        } 
    } 
    .blog-single-page{
        .blog-button-div{
            .member-button, .click-button {
                font-size: 22px;
                padding:20px;
                margin-bottom:30px;
                .text{ 
                    font-size: 22px;
                }
            }
        } 
    }
}

@media screen and (max-width: 767px){
    .contact-page{
        .btn-primary {
            margin: 20px auto;
            margin-bottom: 0;
        }
    } 
    .blog-single-page{
        .contact-banner {
            margin-bottom: 20px;
        }
        .blog-text{
            padding: 20px 0px 20px;
            h4 {
                font-size: 18px;
                margin: 25px 0px;
            }
            p{
                margin-top: 10px;
            }
            .chat-text {
                text-align: center;
                margin: 40px 0px 30px;
                font-weight: bold;
                font-size: 22px;
            }
            .blog-button-div{
                .member-button, .click-button {
                    margin: 20px auto;
                    margin-bottom: 20px auto;
                    font-size: 16px;
                    padding:20px 10px;

                    .text{
                        font-size: 16px;
                    }
                }
                .member-button {
                    margin: 20px auto;
                    margin-bottom: 0;
                }
            }
        }
        .pagination {
            margin: 0;
        }
    } 
}